body
	{
		background-color: #232323;
		margin: 0;
		font-family: "Monserrat", "Avenir";
	}
.square{
	background-color:purple;
	width: 30%;
	float: left;
	margin:1.66%;
	padding-bottom: 30%;
	border-radius: 25%;
	transition: background 1.0s;
}	
#container{
 max-width: 600px;
 margin:29px auto;
}

h1{
	line-height: 1.1;
	text-align: center;
	text-transform: uppercase; 
 color: white;
 background-color: steelblue;
 margin: 0;
 font-weight: normal;
 padding: 20px 0;

}

button:hover{
	color: white;
	background: steelblue;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px; 
	font-size: inherit;
	transition: all 0.3s;
}

#message{
	display:inline-block;
	width: 20%;
}



#colorDisplay{
	font
}

#strip{
	text-align: center;
	background: white;
	color: black;
	height: 30px
}

.selected{
	color: white;
	background: steelblue;